<!DOCTYPE html>
<html lang="en">
<!-- Favicon-->
<link rel="shortcut icon" href="/static/favicon.ico">
<head>
    <meta charset="UTF-8">
    <title>IOT with flask</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<ol class="list-group">
    {% for i in names[::-1] %}
        <li class="list-group-item list-group-item-dark">name: - {{ i }}</li>
    {% endfor %}
</ol>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>